<%= render 'cover' %>

<!-- News -->
<div class="section scrollPoint" id="news">

	<div class="content-wrapper">

		<h2 class="section__header">checkout last years video</h2>

		<div class="container">
			<h3 class="container__header"></h3>
			
			<iframe width="560" height="315" src="https://www.youtube.com/embed/bfic6GYsrQo?&amp;showinfo=0" width="480" height="500" class="container__iframe" allowfullscreen></iframe>            
		</div>

	</div>
</div>


<!-- Lineup -->


<div class="section section--black" id="lineup">

	<div class="content-wrapper">

		<h2 class="section__header section__header--white">the line-up</h2>
		

		<div class="guest-slider">
			<%= render @guests %>	
		</div>

	</div>
	
</div>	

<!-- Divider -->

<div class="section section--divider">
	<%= image_tag("banner1.jpg", class: "section__image") %>
</div>


<!-- Sponsers -->

<div class="section section--slider">
	
	<div class="sponsor-slider">
					
		<div><%= image_tag("trial.png", class: "slider__image") %></div>
		<div><%= image_tag("turnz.png", class: "slider__image") %></div>
		<div><%= image_tag("loods.png", class: "slider__image") %></div>
		<div><%= image_tag("suat.png", class: "slider__image") %></div>
		<div><%= image_tag("aerobic.png", class: "slider__image") %></div>
		<div><%= image_tag("nwts.png", class: "slider__image") %></div>

	
	</div>
</div>


<!-- Info -->


<div class="section section--black" id="info">

	<div class="section__header section__header--white">FAQs</div>
	
	<div class="container">

		<div id="accordion1" class="container--stay-third accordion">
			<h3 class="accordion__header" class="accordion__header">help, i’m under 18 y/o!</h3>
			<p class="accordion__text">
				That’s fine. Don’t worry. In case your parents would like to sign a minor consent form just hit us up at <a class="accordion__link" target="_blank" href="mailto:info@hookedgathering.com">info@hookedgathering.com</a> and we’ll send it straight away.
			</p>
	
			<h3 class="accordion__header">where are we going to sleep?</h3>
			<p class="accordion__text">
				We worked our ass off to make sleepover in the gym possible. You should bring your own mats if you didn’t already order a bed. *Please make sure to always bring ur own sleeping bag and pillow with you!
			</p>
	
			<h3 class="accordion__header">how do i get to the gym?</h3>
			<p class="accordion__text">
				From Schiphol Airport - Take bus 69 in the direction of station “Amsterdam Sloterdijk” and get off the bus at the stop “Herman Bonpad”. You’ll find the building on the other way of the road! Use <a href="http://www.9292.nl/en" class="accordion__link" target="_blank">www.9292.nl/en</a> to plan out your route.
			</p>
		</div>
	
		<div id="accordion2" class="container--stay-third accordion">
			<h3 class="accordion__header" class="accordion__header">what about public transport?</h3>
			<p class="accordion__text">
				Please visit this link for great deal on public transport: <a href="http://en.gvb.nl/ontdek-amsterdam/amsterdam-travel-ticket" class="accordion__link" target="_blank">http://en.gvb.nl/ontdek-amsterdam/amsterdam-travel-ticket</a>
			</p>
	
			<h3 class="accordion__header">do you have a special offer for muggles?</h3>
			<p class="accordion__text">
				Nope, we unfortunately don’t have a special offer for non-tricking people due to a limitied number of tickets. There will be plenty of things to do at the gathering so s/he will have a great time no matter what.
			</p>
	
			<h3 class="accordion__header">where do i sign up for the battles?</h3>
			<p class="accordion__text">
				At the event announcements will be made with regards to battle registrations.
			</p>
		</div>

		<div id="accordion3" class="container--stay-third accordion">
			<h3 class="accordion__header" class="accordion__header">what payment methods do we accept?</h3>
			<p class="accordion__text">
				You can find all payment methods on our ticket link. Does it not work out for you? Send us a mail to <a href="mailto:info@hookedgathering.com" class="accordion__link" target="_blank">info@hookedgathering.com</a>
			</p>
	
			<h3 class="accordion__header">what if i’m a beginner?</h3>
			<p class="accordion__text">
				This event is for everybody no matter what level of skill!  We will be having a lot of seminars. very helpful for learning new tips & tricks!
			</p>
	
			<h3 class="accordion__header">can i buy tickets at the door?</h3>
			<p class="accordion__text">
				Big fat chance that there won’t be any tickets left at that time. Secure yourself a spot and get your tickets online.
			</p>
		</div>

		<div id="accordion4" class="container accordion">

			<h3 class="accordion__header" class="accordion__header">i still have more questions.. what should I do?</h3>
			<p class="accordion__text">Let us know by e-mail at info@hookedgathering.com</p>
		</div>
	
	</div>

</div>

<!-- Divider -->

<div class="section section--divider">
	<%= image_tag("cover.gif", class: "section__image") %>
</div>

