<div class="section">

    <div class="content-wrapper">
        <h2 class="section__header">Checkout</h2>
        
        <%= render 'items', :order => @order %>
        
        <div class="outer-form">
            <%= form_for @order, :url => checkout_path do |f| %>
              <dl>

                <dd><%= f.text_field :first_name, placeholder: "First Name" %> <%= f.text_field :last_name, placeholder: "Last Name" %></dd>
                <br><br>
                <dd><%= f.text_field :billing_address1, placeholder: "House Number" %></dd>
                <dd><%= f.text_field :billing_address2, placeholder: "Street" %></dd>
                <dd><%= f.text_field :billing_address3, placeholder: "City/Town" %></dd>
                <dd><%= f.text_field :billing_address4, placeholder: "Country" %></dd>

                <dd><%= f.text_field :billing_postcode, placeholder: "Post Code" %></dd>
                <dd><%= f.collection_select :billing_country_id, Shoppe::Country.ordered, :id, :name, :include_blank => true, placeholder: "Country" %></dd>
                <br><br>
                <dd><%= f.text_field :email_address, placeholder: "E-mail" %></dd>

                <dd><%= f.text_field :phone_number, placeholder: 'Phone Number' %></dd>

                <dd><%= f.submit 'Continue' %></dd>
              </dl>
            <% end %>
        </div>
    
    </div>

</div>