<div class="section">

    <div class="content-wrapper">
        
        <h2 class="section__header">Your basket</h2>
        
        <%= render 'items', :order => @order %>
        
        <h2 class="container__header">Shipping Details</h2>

        <div class="form form--two-third">
            <%= form_for @order, :url => checkout_path do |f| %>

                <dd class="form__input-half">
                    <%= f.text_field :first_name, placeholder: "First Name", class: "form__text-input" %> 
                </dd>
                <dd class="form__input-half right"> 
                    <%= f.text_field :last_name, placeholder: "Last Name", class: "form__text-input" %>
                </dd>
                
                <br><br>

                <dd class="form__input">
                    <%= f.text_field :billing_address1, placeholder: "House Number", class: "form__text-input", class: "form__text-input" %>
                </dd>

                <dd class="form__input">
                    <%= f.text_field :billing_address2, placeholder: "Street", class: "form__text-input" %>
                </dd>

                <dd class="form__input"><%= f.text_field :billing_address3, placeholder: "City/Town", class: "form__text-input" %></dd>

                <dd class="form__input"><%= f.text_field :billing_address4, placeholder: "Country", class: "form__text-input" %></dd>

                <dd class="form__input"><%= f.collection_select :billing_country_id, Shoppe::Country.ordered, :id, :name, {prompt: "Select a country"}, {class: "form__dropdown"} %></dd>

                <dd class="form__input"><%= f.text_field :billing_postcode, placeholder: "Post Code", class: "form__text-input" %></dd>

                <br><br>

                <dd class="form__input-half"><%= f.text_field :email_address, placeholder: "E-mail", class: "form__text-input" %></dd>

                <dd class="form__input-half right"><%= f.text_field :phone_number, placeholder: 'Phone Number', class: "form__text-input" %></dd>
                
                <div class="container container--half">
                    <%= f.submit 'Continue', class: "button" %>
                </div>
                    
                <div class="container container--half">
                    <%= link_to 'cancel', basket_path, class: "button cancel-button" %>
                </div>

            <% end %>
        </div>
    
    </div>

</div>