<div class="topbar header">

	<i class="topbar__menu fa fa-hand-peace-o"></i>

	<ul class="nav">	
		<li class="nav__listItem"><%= link_to "home", root_path, class: "nav__link" %></li>
		<li class="nav__listItem"><%= link_to "news", root_path(anchor: "news"), class: "nav__link" %></li>
		<li class="nav__listItem"><%= link_to "line-up", root_path(anchor: "line-up"), class: "nav__link" %></li>
		<li class="nav__listItem"><%= link_to "info", root_path(anchor: "info"), class: "nav__link" %></li>
		<li class="nav__listItem"><%= link_to "shop", products_path, class: "nav__link" %></li>
	</ul>

	<ul class="nav nav--right">
		<li class="nav__listItem"><%= link_to 'tickets!', tickets_path, class: 'nav__link' %></li>
	</ul>

	<ul class="nav nav--right">
		<% if current_order %>
			<li class="nav__listItem">
				<%= link_to basket_path,  class: 'nav__link' do %>
					<i class="fa fa-shopping-basket" aria-hidden="true"></i>
					<%= current_order.total_items%> /
				  <%= number_to_currency current_order.total_before_tax %>
				<% end %>
			</li>
		<% end %>
	</ul>

</div>