<div class="section">

	<div class="content-wrapper">

		<h2 class="section__header"></h2>

				
		<div class="container container--third">
			<% if @product.default_image %>
				<%= image_tag @product.default_image.path, class: "container__image" %>
			<% end %>
		</div>
		
		<div class="container container--two-third">

			<h2 class="container__header align-left"><%= @product.name %></h2>
			<p class="container__text align-left container__text--margin-bottom"><%= @product.description %></p>
			<p class="container__text container__text--large"><%= number_to_currency @product.price %></p>

			<div class="container container--half">
				<%= link_to product_path(@product.permalink), :method => :post, class: "button" do %>
					<i class="fa fa-shopping-basket" aria-hidden="true"></i>
					<span>add to basket</span>
				<% end %>
			</div>

			<div class="container container--half">
				<%= link_to 'back to list', shop_path, class: "button" %>
			</div>

		</div>

	</div>

</div>
